<footer th:fragment="footer" class="py-3 my-4">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
		<li class="nav-item"><a href="/" class="nav-link" aria-current="page" th:text="#{general.home.title}"></a></li>
		<li class="nav-item"><a href="/dates" class="nav-link" th:text="#{general.dates.title}"></a></li>
		<li class="nav-item"><a href="/aboutme" class="nav-link" th:text="#{general.aboutme.title}"></a></li>
	</ul>
	<p class="text-center text-light" th:text="#{footer.devs}"></p>
</footer>