<header th:fragment="header" class="d-flex justify-content-between align-items-center py-1 mb-4 border-bottom">

	<img style="width: 200px; height: 200px;" th:src="@{/images/logo_nikelao.png}" alt="Logo,png" />

	<ul class="nav nav-pills">
		<li class="nav-item"><a href="/nikelao" class="nav-link" aria-current="page">Home</a></li>
		<li class="nav-item"><a href="/dates" class="nav-link">Reservar cita</a></li>
		<li class="nav-item"><a href="/aboutme" class="nav-link">Trabaja con nosotros</a></li>
	</ul>

</header>