<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head :: head}"></head>

<body class="bg-dark text-light">
	<div class="container">
		<th:block th:if="${session.user != null}">
			<header th:replace="~{fragments/header :: header-login}"></header>
		</th:block>
		
		<th:block th:unless="${session.user != null}">
			<header th:replace="~{fragments/header :: header-logout}"></header>
		</th:block>


		<div layout:fragment="content"></div>

		<footer th:replace="~{fragments/footer :: footer}"></footer>

		<div th:replace="~{fragments/scripts :: script-bootstrap}"></div>
	</div>
</body>

</html>